.feed_section {
  border: 1px solid rgb(240, 240, 240);
  width: 1220px;
  min-height: 100vh;
  padding-left: 270px;
  background-color: #ffffff;

  .inner_feed_section {
    width: 100%;
    position: relative;

    .main_feed {
      
    }
  }
}
