.sidebar {
  border-right: 1px solid rgb(240, 240, 240);
  width: 270px;
  position: fixed;
  z-index: 9999;
  background-color: #ffffff;

  @media screen and (max-width: 1281px) {
    width: 88px;
  }
  @media screen and (max-width: 499px) {
    display: none;
  }

  .inner_sidebar {
    overflow: hidden;

    .inner_inner_sidebar {
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .logo {
        .logoIcon {
          width: 35px;
          padding: 10px;
          fill: #1d9bf0;
        }
        @media screen and (max-width: 1281px) {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .sideMenuLink {
        nav {
          padding: 0;
          margin: 0;
          ul {
            padding: 0;
            margin: 0;
            li {
              list-style: none;

              @media screen and (max-width: 1281px) {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
              }

              a {
                display: flex;
                align-items: center;
                gap: 20px;
                font-size: 20px;
                color: #0f1419;
                max-width: max-content;
                padding: 10px;
                border-radius: 50px;
                font-weight: 400;

                .menuLabel {
                  padding-right: 30px;

                  @media screen and (max-width: 1281px) {
                    display: none;
                  }
                }
                svg {
                  width: 1.75rem;
                }

                &:hover {
                  background-color: rgba(128, 128, 128, 0.322);
                  transition: 0.2s;
                }
              }
            }
          }
        }
      }
      .tweetBtn {
        padding-right: 10px;
        margin-top: 15px;

        div {
          width: 90%;
          min-height: 52px;
          background-color: rgb(29, 155, 240);
          box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 28px;
          border-radius: 50px;
          font-size: 17px;
          color: #ffffff;
          outline: none;
          transition-duration: 0.2s;
          border: none;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            background-color: rgb(25, 141, 218);
            transition-duration: 0.2s;
          }

          @media screen and (max-width: 1281px) {
            width: 53px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        svg {
          width: 24px;
          height: 24px;
          fill: #ffffff;
          display: none;
        }
        @media screen and (max-width: 1281px) {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          span {
            display: none;
          }
          svg {
            display: block;
          }
        }
      }

      .profile {
        width: 100%;
        margin-bottom: 12px;
        margin-top: 12px;

        .inProfile {
          margin-right: 12px;
          padding: 10px;
          border-radius: 50px;
          cursor: pointer;

          &:hover {
            background-color: rgba(128, 128, 128, 0.322);
            transition-duration: 0.2s;
          }

          .mainProfile {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 50px;

            .left {
              display: flex;
              align-items: center;

              .avatar {
                width: 50px;
                height: 50px;
                overflow: hidden;
                border-bottom-left-radius: 9999px;
                border-bottom-right-radius: 9999px;
                border-top-left-radius: 9999px;
                border-top-right-radius: 9999px;

                img {
                  max-width: 100%;
                  object-fit: cover;
                }
              }

              .user_name {
                flex-shrink: 1;
                margin-right: 12px;
                margin-left: 12px;
                display: flex;
                flex-direction: column;
                gap: 2px;

                @media screen and (max-width: 1281px) {
                  display: none;
                }

                span {
                  padding: 0;
                  color: #0f1419;
                  font-family: "Noto Sans Miao", sans-serif;
                  font-weight: bold;

                  &:nth-child(2) {
                    color: #536471;
                    font-weight: 400;
                  }
                }
              }
            }
            .right {
              @media screen and (max-width: 1281px) {
                display: none;
              }
              .dots {
                width: 25px;
              }
            }
          }
        }
      }
    }
  }
}
