.mobile_header {
  display: none;
  height: 53px;
  padding-left: 16px;
  padding-right: 16px;

  @media screen and (max-width: 499px) {
    display: block;
    display: flex;
    align-items: center;
  }
  .left {
    flex-basis: 50%;
    min-width: 56px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 1;
  }
  .center {
    width: 50px;
    height: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      fill: #1d9bf0;
      width: 25px;
      height: 25px;
    }
  }
  .right {
    flex-basis: 50%;
    min-width: 56px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 1;
  }
}
