.Who_To_Follow {
  border-radius: 16px;
  overflow: hidden;
  background-color: rgb(247, 249, 249);
  .title {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 16px;
    padding-left: 16px;
    span {
      font-size: 20px;
      color: #0f1419;
      font-weight: 800;
    }
  }
  .Who_To_Follow_box {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 16px;
    padding-left: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    &:hover {
      background-color: rgba(128, 128, 128, 0.055);
    }

    .left {
      display: flex;
      align-items: center;

      .avatar {
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-bottom-left-radius: 9999px;
        border-bottom-right-radius: 9999px;
        border-top-left-radius: 9999px;
        border-top-right-radius: 9999px;

        img {
          max-width: 100%;
          object-fit: cover;
        }
      }
      .user_name {
        flex-shrink: 1;
        margin-right: 12px;
        margin-left: 12px;
        display: flex;
        flex-direction: column;
        gap: 2px;

        span {
          padding: 0;
          color: #0f1419;
          font-family: "Noto Sans Miao", sans-serif;
          font-weight: bold;

          &:nth-child(2) {
            color: #536471;
            font-weight: 400;
          }
        }
      }
    }
    .right {
      button {
        background-color: rgb(15, 20, 25);
        min-width: 32px;
        min-height: 32px;
        transition-duration: 0.2s;
        font-size: 14px;
        color: #ffffff;
        border-radius: 9999px;
        outline: none;
        border: none;

        &:hover {
          background-color: rgb(46, 53, 59);
        }
      }
    }
    .seeMore{
        color: #1d9bf0;
        font-size: 15px;
    }
  }
}
