.home_page {
  position: relative;
  .inner_home_page {
    display: flex;
    max-width: 1240px;
    margin: auto;
    position: relative;

    @media screen and (max-width: 1281px) {
      max-width: 1000px;
    }
    @media screen and (max-width: 1094px) {
      max-width: 950px;
    }
    @media screen and (max-width: 1004px) {
      max-width: 750px;
    }
  
  }
  .tweetMobileButton{
    display: none;

    @media screen and (max-width: 499px) {
      display: block;
      position: fixed;
      right: 20px;
      bottom: 70px;
      padding: 20px;
      min-width: 20px;
      min-height: 20px;
      background-color: rgb(29, 155, 240);
      transition-duration: 0.2s;
      cursor: pointer;
      border-radius: 9999px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 8px, rgba(101, 119, 134, 0.25) 0px 1px 3px 1px;

      svg{
        width: 24px;
        height: 24px;
        fill: #FFFFFF;
      }
    }
  }
}
